/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* //////////////////////////////////////////////////////////////////////// */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: linear-gradient(150deg, #002d62, #ce1126, #ffffff);

  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
}

/* Botones generales */
.sidebar button {
  background-color: transparent;
  color: #e5e7eb;
  border: none;
  padding: 12px 15px;
  text-align: left;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover */
.sidebar button:hover {
  /* background-color: #334155; */
  background: linear-gradient(150deg, #002d62, #ce1126, #ffffff);
  color: #ffffff;
}

/* Botón activo*/
.sidebar button.active {
  transform: translateY(0);
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.3);
}
